* {
  /* Colours */
  --primary: #0d1b2a; /* Rich Black */
  --secondary: #778da9; /* Silver Lake Blue */
  --tertiary: #415a77; /* YlnMn Blue */
  --accent: #e0e1dd; /* Platinum */
  --shadow: #090c02; /* Rich Black */

  /* base 16 for rem; */
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* Removing previously made settings */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#checker {
  background-color: var(--secondary);
  width: min(100vw, 500px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 9rem;
  box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
}

#info {
  background-color: var(--tertiary);
  width: min(100vw, 500px);
  margin: 1.5rem;
}

#checker,
#info {
  border-radius: 0.8rem;
}

input,
button {
  appearance: none;
}

#text-input {
  width: 18rem;
  border: none;
  background-color: var(--secondary);
  border-bottom: solid 0.15rem var(--accent);
  color: white;
  font-size: 1.4rem;
}

#check-btn {
  width: 4rem;
  margin-left: 0.25rem;
  background-color: var(--accent);
  border-radius: 0.75rem;
  border: none;
  color: black;
  font-size: 1rem;
}

#entry {
  padding-bottom: 1.25rem;
}

#text-input,
#check-btn {
  height: 2.5rem;
}

#info {
  text-align: center;
}

#checker-text {
  padding-bottom: 1rem;
}

#result {
  padding-bottom: 1rem;
}

h1 {
  font-size: 3.25rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

p {
  margin: 1rem;
  color: white;
  font-size: 1.25rem;
}

strong {
  font-size: 1.4rem;
  font-weight: 600;
}

i {
  font-size: 1.25rem;
  font-style: italic;
}

.hide {
  display: none;
}
